@import '_fonts.scss';

$base-color: #FDF8F3;
$hover-color: #72A8BA;
$button-color: #DAB189;
$main-text-color: #494B55;
$search-color: rgba(73, 75, 85, 1);
$even-session: rgba(56, 94, 108, 1);
$XS-size: 18px;
$S-size: 20px;
$M-size: 25px;
$L-size: 30px;

body {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
  background-color: $base-color;
}
.background_main {
  background-color: $base-color;
}
/*Кастомний Скролбар*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #454650;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #DAB189;
  border-radius: 10px;
  transition: 1s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d19c69;
}
/*Кастомний Скролбар - кінець*/


.toast {
  font-family: "Nunito", sans-serif;
  border-radius: 10px;
  top: 35px;
  width: auto;
  margin-top: 10px;
  position: relative;
  max-width: 100%;
  height: auto;
  min-height: 48px;
  line-height: 1.5em;
  background-color: $search-color;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 300;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
}

//user login styles
.background-login {
  background-color: $base-color;
}
.empty-layout {
  display: grid;
  width: 700px;
  height: 100vh;
  margin: 0 auto;
  align-items: center;
}
.card {
  position: relative;
  margin: .5rem 0 1rem 0;
  background-color: #72a8baab;
  transition: box-shadow .25s;
  border-radius: 18px;
  backdrop-filter: blur(5px);
}
.card .card-content {
  color: #fff;
  padding: 24px 24px 0;
  border-radius: 0 0 2px 2px;
}

.card .card-title {
  text-align: center;
  font-size: $L-size;
  font-weight: 500;
  font-family: 'Nunito', sans-serif;
}
.toggle-password {
  position: absolute;
  right: 10px;
  top: 20px;
}
.card .card-action {
  background-color: transparent;
  border-top: none;
  position: relative;
  padding: 0 24px 24px;
}
.card .card-action:last-child {
  border-radius: 0 0 18px 18px;
}
.butt_login {
  display: flex;
  justify-content: center;
}

.butt_login button {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  padding: 10px 40px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #DAB189 !important;
  box-shadow: 0px 4px 0px #BA9571 !important;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  height: auto;
  line-height: normal;
}
.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
  background-color: #DAB189;
}
.butt_login button:hover {
  background: #DAB189;
}
.butt_login button:active {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-box-shadow: 0px 2px 0px #BA9571;
  box-shadow: 0px 2px 0px #BA9571 !important;
}
.input-field>label {
  color: #fff;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
}
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default){
  border-bottom: 1px solid #ffffff;
}
.elipse_login_1 {
  background: url(@/assets/photo/contact-back-1.png) no-repeat top;
  pointer-events: none;
  z-index: 0;
  margin: 0 auto;
  left: calc(100% - 90%);
  top: 5vh;
  position: absolute;
  height: 397px;
  width: 340px;
  background-size: cover;
}
.elipse_login_2 {
  background: url(@/assets/photo/contact-back-2.png) no-repeat top;
  pointer-events: none;
  z-index: 0;
  margin: 0 auto;
  right: calc(100% - 90%);
  top: 49vh;
  position: absolute;
  height: 354px;
  width: 355px;
  background-size: cover;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 1px 0 0 #ffffff;
}
input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
  color: #ffffff;
}
.input-field .helper-text {
  position: relative;
  min-height: 18px;
  display: block;
  font-size: 12px;
  color: rgb(244 67 54);
}

//NavBar styles
.background-navbar {
  //background: url(@/assets/photo/back-users-1.png) center center;
  background-position: center;
  background-size: cover;
  height: 155px;
  background-color: $hover-color;
}
.container-user-photo {
  position: relative;
  border-radius: 100px;
  left: 105px;
  top: 105px;
  width: 90px;
  height: 90px;
}
.user-photo {
  background: #494B55;
  border-radius: 100%;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
  }
}
.container-user-name {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: $XS-size;
  color: $main-text-color;
  font-weight: 700;
}

/*
SideBar styles
*/
.sidebar {
  width: 300px;
  //border: 1px #000 solid;
}
.title-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $main-text-color;
  font-size: 27px;
  font-weight: 700;
  margin: 10px 0;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.menu-item{
  display: flex;
  align-items: center;

  img {
    padding: 0px 7px 0 0;
    width: 30px;
  }
}
.menu-item {
  img {
    transition: filter .3s;
  }
  span {
    color: $main-text-color;
    font-size: $S-size;
    font-weight: 700;
    line-height: 47px;
    transition: .3s;
  }
}


.menu-icon {
  position: relative;
  top: -6px;
  padding: 0px 7px 0 0;
  width: 37px;
}
nav {
  background-color: transparent;
  box-shadow: none;
  height: 100%;

  ul {
    li {
      transition: background-color .3s;
      font-size: 1rem;
      color: #fff;
      display: block;
      padding: 0 25px;
      cursor: pointer;
      border-radius: 0 10px 10px 0;
      width: 100%;

      &:hover {
        background-color: rgba(56, 94, 108, 1);

        span {
          color: #fff;
        }

        img {
          filter: brightness(0) invert(1);
        }
      }
    }

    li {
      &.active {
        background-color: $hover-color !important;

        span {
          color: #fff;
        }

        img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}


.under-block {

}
.title-notification {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $main-text-color;
  font-size: 27px;
  font-weight: 700;
  margin: 30px 0 20px 0;
  img {
    top: 0;
  }
}
.button-add-notf {
  margin: 0 20px 20px 20px;

  button {
    display: flex;
    width: 100%;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    padding: 8px 20px;
    text-align: center;
    text-transform: lowercase;
    color: #FFFFFF;
    background: #DAB189 !important;
    box-shadow: 0px 4px 0px #BA9571 !important;
    border-radius: 10px;
    border: none;
    transition: 0.3s;
    height: auto;
    line-height: normal;
    align-items: center;
    justify-content: center;


    &:hover {
      background: #DAB189;
    }

    &:active {
      -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
      transform: translateY(5px);
      -webkit-box-shadow: 0px 2px 0px #BA9571;
      box-shadow: 0px 2px 0px #BA9571 !important;
    }

    img {
      padding: 0 7px 0 0;
    }
  }
}
.block-notification {
  margin: 0 20px 20px;
}
.notification-text {
  img {
    padding: 0 7px 0 0;
    position: relative;
    top: 3px;
  }
  span {
    color: #494B55;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    text-align: justify;
  }
}
//CLOCK start
.clock-block {
  margin: 0 0 30px;
}
.flip-clock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-number {
  font-family: "Anton";
  background: $hover-color;
  margin: 0px 3px;
  padding: 18px 22px;
  border-radius: 8px;
  width: 124px;
  height: 156px;
  text-align: center;

  .time {
    font-family: "Anton";
    color: #FFFFFF;
    font-size: 85px;
    letter-spacing: 6px;
    text-indent: 4px;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -4px;
    position: relative;
  }

  .day-clock {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #FFFFFF;
    position: relative;
    top: -22px;
    left: 14px;
  }
}
.line-clock {
  height: 3px;
  background: #fff;
  border: 1px #fff solid;
  width: 254px;
  position: absolute;
}

//CLOCK end



/*
Main styles
*/
.site-content {
  flex-grow: 1;
}
.main-section {
  margin: 85px 0px 20px;
  display: flex;
}
.calendar-width {
    width: 95%;
    margin: 0 30px;
}
//.fc-icon-chevron-left::before {
//  content: "назад";
//}
//.fc-icon-chevron-right::before {
//  content: "далі";
//}
.fc-toolbar-title {
  font-weight: 700;
  color: $main-text-color;
}
.fc-scrollgrid-sync-inner {

  a {
    color: $main-text-color;
    font-weight: 700;
  }
}
.fc-h-event {
  background-color: $hover-color;
  border: 1px solid $hover-color;
  display: block;
}
.fc-daygrid-event-dot {
  border: calc(var(--fc-daygrid-event-dot-width)/2) solid $hover-color;
  border-radius: calc(var(--fc-daygrid-event-dot-width)/2);
}
.fc-theme-standard .fc-scrollgrid {
  border-radius: 10px;
  border: 2px solid $main-text-color;
}
.fc-theme-standard td, .fc-theme-standard th {
  border: 2px solid $main-text-color;
}
.fc .fc-scrollgrid-section > * {
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.fc-button {
  display: flex;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  padding: 10px 10px;
  text-align: center;
  color: #FFFFFF;
  background: #DAB189 !important;
  box-shadow: 0px 4px 0px #BA9571 !important;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  height: auto;
  line-height: normal;
  align-items: center;
  justify-content: center;


  &:hover {
    background: #DAB189;

  }

  &:active {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-box-shadow: 0px 2px 0px #BA9571;
    box-shadow: 0px 2px 0px #BA9571 !important;
  }
}
.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  margin-left: 1px;
}
.fc .fc-button-primary {
  border-color: transparent !important;
  color: #fff;
  font-weight: 700;
}
.fc-v-event {
  background-color: $hover-color;
  border: 1px solid $hover-color;
  display: block;
  font-weight: 600;
}
.fc .fc-cell-shaded, .fc .fc-day-disabled {
  background: $main-text-color;
}



/*
Client styles
*/
.client-section {
  margin: 0 30px;
}
.client-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px;
}
.btn-add-client {
  display: flex;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  padding: 8px 20px;
  text-align: center;
  text-transform: none;
  color: #FFFFFF;
  background: #DAB189 !important;
  box-shadow: 0px 4px 0px #BA9571 !important;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  height: auto;
  line-height: normal;
  align-items: center;
  justify-content: center;


  &:hover {
    background: #DAB189;
  }

  &:active {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-box-shadow: 0px 2px 0px #BA9571;
    box-shadow: 0px 2px 0px #BA9571 !important;
  }
}
.btn-refresh {
  display: flex;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  padding: 10px 10px;
  text-align: center;
  color: #FFFFFF;
  background: #DAB189 !important;
  box-shadow: 0px 4px 0px #BA9571 !important;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  height: auto;
  line-height: normal;
  align-items: center;
  justify-content: center;


  &:hover {
    background: #DAB189;

  }

  &:active {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-box-shadow: 0px 2px 0px #BA9571;
    box-shadow: 0px 2px 0px #BA9571 !important;
  }

  img {
    width: 22px;
    transition: transform 0.3s;

    &:active {
      transform: rotate(360deg);
    }
  }
}
.search {
  margin: 20px 0;

  input {
    width: 100% !important;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 17px !important;
    padding: 0px 15px !important;
    border-radius: 10px !important;
    border: 3px solid $search-color !important;
    background-color: $search-color !important;
    margin: 0 !important;
    box-sizing: border-box !important;
    color: #FFFFFF !important;
  }
}
.margin-search {
  margin: 0 0 20px 0;
}
.client-list {
  border-radius: 10px;
  border: 3px solid $main-text-color;
  background: transparent;
  padding: 0 0 15px 0;
  min-height: 500px;
}
.table {

  td, th {
    padding: 15px 15px !important;
    border-radius: 0px;
  }
}
.table {
  border-collapse: separate;
  border-spacing: 0px 5px;

  thead {
    font-weight: 700;
    font-size: $XS-size;
    color: #494B55;
  }
  tbody {
    font-weight: 600;
    font-size: 17px;

    tr {
      border-bottom: 3px solid #494B55;
      background: $hover-color;
      color: #FFFFFF;

      &:nth-child(even) {
        background: $even-session;
      }
    }
  }
}
.btn-action {
  background-color: transparent;
  border: none;
  cursor: pointer;

  img {
    width: 20px;
  }
}
.all-butt-management {
  display: flex;
  justify-content: flex-end;

  button {
    margin: 0 5px 0 0;
  }
}
.client-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  .pagination-info {
    color: #494B55;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
  }

  .pagination-controls {
    display: flex;
    align-items: center;

    .btn-pagination{
      margin: 0px 2px 0 0;
      display: flex;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      padding: 10px 10px;
      text-align: center;
      color: #FFFFFF;
      background: #DAB189 !important;
      box-shadow: 0px 4px 0px #BA9571 !important;

      border: none;
      transition: 0.3s;
      height: auto;
      line-height: normal;
      align-items: center;
      justify-content: center;


      &:hover {
        background: #DAB189;

      }

      &:active {
        -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
        transform: translateY(5px);
        -webkit-box-shadow: 0px 2px 0px #BA9571;
        box-shadow: 0px 2px 0px #BA9571 !important;
      }
    }
    .before {
      border-radius: 10px 0 0 10px;
    }
    .after {
      border-radius: 0px 10px 10px 0px;
    }
  }
}
/*
Profile styles
*/
.profile-section {
  margin: 0 0 0 30px;
}
.profile_tittle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 10px;

  p {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: $main-text-color;
    margin: 0;
  }

  button {
    display: flex;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    padding: 8px 20px;
    text-align: center;
    text-transform: none;
    color: #FFFFFF;
    background: #DAB189 !important;
    box-shadow: 0px 4px 0px #BA9571 !important;
    border-radius: 10px;
    border: none;
    transition: 0.3s;
    height: auto;
    line-height: normal;
    align-items: center;
    justify-content: center;


    &:hover {
      background: #DAB189;
    }

    &:active {
      -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
      transform: translateY(5px);
      -webkit-box-shadow: 0px 2px 0px #BA9571;
      box-shadow: 0px 2px 0px #BA9571 !important;
    }
  }
}
.hr_profile {
  border-radius: 10px 0 0 10px;
  border: 0px solid $main-text-color;
  background: $main-text-color;
  height: 3px;
}
.profile_block {
  margin: 0 30px;
}
.update_profile_tittle {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: $main-text-color;
  margin: 0;
}
.input-field-text, .file-upload-field, .select-field, .date-field, .checkbox-field, .forms-name-add {
  margin: 0 0 10px;

  .container-input {
    display: flex;
    align-items: center;

    label {
      color: #FFF;
      font-family: Nunito;
      font-size: 18px;
      font-weight: 700;
      background-color: $hover-color;
      border-radius: 10px;
      width: 250px;
      padding: 10px 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: normal;
      text-align: center;
    }
    input {
      color: #FFFFFF;
      font-family: Nunito;
      font-size: 18px;
      font-weight: 600;
      border-radius: 10px;
      padding: 10px 15px;
      border-bottom: none;
      background-color: $main-text-color;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 55%;
      height: auto !important;
      margin: 0 0 0 15px;
      line-height: normal;
      max-width: 420px;

      &::placeholder {
        color: #C8C8C8;
      }
      &[type="file"] {
        display: none;
      }
    }
    .file-chosen {
      color: #FFFFFF;
      font-family: Nunito;
      font-size: 18px;
      font-weight: 600;
      border-radius: 10px;
      padding: 10px 15px;
      border-bottom: none;
      background-color: $main-text-color;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 55%;
      height: auto !important;
      margin: 0 0 0 15px;
      line-height: normal;
      max-width: 450px;
      cursor: pointer;
    }

    select {
      color: #FFFFFF;
      font-family: Nunito;
      font-size: 18px;
      font-weight: 600;
      border-radius: 10px;
      padding: 10px 15px;
      border-bottom: none;
      background-color: $main-text-color;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 55%;
      height: auto !important;
      margin: 0 0 0 15px;
      line-height: normal;
      max-width: 450px;
    }
    .checkbox-group {
      display: flex;
      justify-content: space-between;
      width: 465px;
      margin: 0 0 0 10px;

      label {
        color: $main-text-color;
        font-family: Nunito;
        font-size: 18px;
        font-weight: 700;
        line-height: normal;
        background-color: transparent;
        border-radius: initial;
        width: auto;
        padding: 5px 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        input {
          display: none;
        }

        span {
          display: inline-block;
          width: 35px;
          height: 35px;
          background: #494B55;
          border-radius: 10px;
          margin-right: 10px;

          .svg-checkmark .checkmark-path {
            stroke-dasharray: 32.99833297729492;
            stroke-dashoffset: 32.99833297729492; /* Шлях спочатку не видно */
            transition: stroke-dashoffset 0.3s ease-in-out; /* Плавний перехід для анімації */
          }
        }

        p {
          cursor: pointer;
          margin: 0;
        }
      }
    }
  }
}
.custom-checkbox input[type="checkbox"]:checked + .checkmark .svg-checkmark .checkmark-path {
  stroke-dashoffset: 0;
}
[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
  content: none;
}
[type="checkbox"]+span:not(.lever) {
  padding-left: 0px !important;
  cursor: inherit;
}
.container-global-form-edit {
  margin: 15px 5px 10px;
  display: flex;
  justify-content: flex-end;
  width: 710px;

  button {
    cursor: pointer;
    display: flex;
    width: 220px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    padding: 8px 20px;
    text-align: center;
    color: #FFFFFF;
    background: #DAB189;
    box-shadow: 0px 4px 0px #BA9571;
    border-radius: 10px;
    border: none;
    transition: 0.3s;
    height: auto;
    line-height: normal;
    align-items: center;
    justify-content: center;

    &:hover {
      background: #DAB189;
    }

    &:active {
      -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
      transform: translateY(5px);
      -webkit-box-shadow: 0px 2px 0px #BA9571;
      box-shadow: 0px 2px 0px #BA9571 !important;
    }

    img {
      padding: 0 7px 0 0;
      width: 30px;
    }
  }
}
.button-disabled {
  background-color: #ccc !important;
  cursor: not-allowed !important;
  box-shadow: 0px 4px 0px #bbbbbb !important;
}
/* Звичайний стиль кнопки, коли чекбокс активний */
.global-form-edit:not(.button-disabled) {
  background-color: #DAB189;
  box-shadow: 0px 4px 0px #BA9571;
  cursor: pointer;
}

.validate-error {
  color: #df4545;
  font-weight: 700;
}
.change-password {
  position: relative;
  right: 35px;
  top: 0px;
  color: #fff;
}



/* Bank Information Forms */
.form-bank-info-container {
  margin: 22px 30px 0;
}
.undertittle-on-bank-ifro {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: #494B55;
  margin: 0;
}
.bank-button-forms {
  display: flex;
}
.no-template-message {
  p {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #494B55;
    margin: 30px 0;
    text-align: center;
  }
}
.create-template {
  display: flex;
  justify-content: flex-start;
}

.btn-action {
  position: relative;

  &[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 1000;
    /* Додайте наступні властивості для покращення візуального вигляду */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
  }

  &[data-tooltip]:hover::after {
    opacity: 1;
    visibility: visible;
  }
}
button:focus {
  outline: none;
  background-color: transparent;
}
.modal-btn {
  display: flex;
  justify-content: flex-end;
}
.btn-send-templates {
  display: flex;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  padding: 8px 20px;
  text-align: center;
  text-transform: none;
  color: #FFFFFF;
  background: #DAB189 !important;
  box-shadow: 0px 4px 0px #BA9571 !important;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  height: auto;
  line-height: normal;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0;


  &:hover {
    background: #DAB189;
  }

  &:active {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-box-shadow: 0px 2px 0px #BA9571;
    box-shadow: 0px 2px 0px #BA9571 !important;
  }
}
.container-for-label-and-input {
  margin: 10px;
}
.container-input_froms_user {
  display: flex;
  //align-items: center;
  justify-content: center;

  label {
    color: #FFF;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 700;
    background-color: $hover-color;
    border-radius: 10px;
    width: 500px;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;
  }
  input {
    color: #FFFFFF;
    font-family: Nunito;
    font-size: 18px !important;
    font-weight: 600;
    border-radius: 10px !important;
    padding: 10px 15px !important;
    border-bottom: none !important;
    background-color: $main-text-color !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    //width: 55% !important;
    height: auto !important;
    margin: 0 0 0 15px !important;
    line-height: normal;
    max-width: 650px;


    &::placeholder {
      color: #C8C8C8;
    }
    &[type="file"] {
      display: none;
    }

    select {
      color: #FFFFFF;
      font-family: Nunito;
      font-size: 18px !important;
      font-weight: 600;
      border-radius: 10px !important;
      padding: 10px 15px !important;
      border-bottom: none !important;
      background-color: $main-text-color !important;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100% !important;
      height: auto !important;
      margin: 0 0 0 15px !important;
      line-height: normal;
      max-width: 680px;


      &::placeholder {
        color: #C8C8C8;
      }
    }
  }
  .file-chosen {
    color: #FFFFFF;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    padding: 10px 15px;
    border-bottom: none;
    background-color: $main-text-color;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 55%;
    height: auto !important;
    margin: 0 0 0 15px;
    line-height: normal;
    max-width: 450px;
    cursor: pointer;
  }

  select {
    color: #FFFFFF;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    padding: 10px 15px;
    border-bottom: none;
    background-color: $main-text-color;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 55%;
    height: auto !important;
    margin: 0 0 0 15px;
    line-height: normal;
    max-width: 450px;
  }
  .checkbox-group {
    display: flex;
    justify-content: space-between;
    width: 465px;
    margin: 0 0 0 10px;

    label {
      color: $main-text-color;
      font-family: Nunito;
      font-size: 18px;
      font-weight: 700;
      line-height: normal;
      background-color: transparent;
      border-radius: initial;
      width: auto;
      padding: 5px 5px;
      display: flex;
      justify-content: center;
      align-items: center;

      input {
        display: none;
      }

      span {
        display: inline-block;
        width: 35px;
        height: 35px;
        background: #494B55;
        border-radius: 10px;
        margin-right: 10px;

        .svg-checkmark .checkmark-path {
          stroke-dasharray: 32.99833297729492;
          stroke-dashoffset: 32.99833297729492; /* Шлях спочатку не видно */
          transition: stroke-dashoffset 0.3s ease-in-out; /* Плавний перехід для анімації */
        }
      }

      p {
        cursor: pointer;
        margin: 0;
      }
    }
  }

  @media (max-width: 800px) {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;

    label {
      width: auto;
      margin: 0 10px 10px;
      padding: 10px 10px;
    }
    input {
      margin: 0 10px !important;
      width: auto !important;
      max-width: 100% !important;
    }
    select {
      margin: 0 10px !important;
      width: auto !important;
      max-width: 100% !important;
    }

  }
  @media (max-width: 500px) {

    label {
      margin: 0 0 10px;
      padding: 10px 10px;
    }
    input {
      margin:0 !important;
    }
    select {
      margin:0 !important;
    }
  }

}
.title_form_from_user {

  p {
    font-family: 'Nunito';
    font-size: 25px !important;
    font-weight: 600;
    text-align: center;
    color: $main-text-color;
  }

  @media (max-width: 800px) {

    p {
      font-size: 23px !important;
    }
  }
  @media (max-width: 500px) {

    p {
      font-size: 20px !important;
    }
  }
}
.width-input-1200 {
  width: 1200px !important;
}
.center_group {
  justify-content: center;
}
.width-container_for_butt {
  width: 1200px;
  margin: 15px auto;

  @media (max-width: 1230px) {
    width: 220px;
  }
}
.container-text-for-form {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px 10px;

  .title_n_text {
    color: $main-text-color;
    font-family: Nunito;
    font-size: 18px !important;
    font-weight: 600;

    b {
      display: flex;
      justify-content: center;

    }
    p {
      text-align: justify;
    }
  }
  .content_user_form {
    color: $main-text-color;
    font-family: Nunito;
    font-size: 18px !important;
    font-weight: 600;

    span {
      font-weight: 800;
    }
    p {
      text-align: justify;

      b {
        font-weight: 800;
      }
    }
    ul {
      margin: 0 0 20px 20px;

      li {
        list-style-type:disc;
      }
    }
    table {
      tr {
        border-bottom: 2px solid rgb(73 75 85);
      }
    }

    @media (max-width: 800px) {
      color: $main-text-color;
      font-family: Nunito;
      font-size: 18px !important;
      font-weight: 600;

      span {
        font-weight: 700;
      }
      p {
        text-align: justify;

        b {
          font-weight: 700;
        }
      }
    }
  }

}
.header_forms_for_users {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #72A8BA;
  padding: 30px;

  img {
    width: 300px;
  }

  @media (max-width: 500px) {
    padding: 25px;

    img {
      width: 220px;
    }
  }
}
.thank-you-text {
  max-width: 1440px;
  margin: 30px auto;
  padding: 10px;

  p {
    text-align: center;
    color: $main-text-color;
    font-family: Nunito;
    font-size: 20px;
    font-weight: 600;
  }

  .title-thank-you {
    font-size: 25px;
    font-weight: 700
  }

  @media (max-width: 800px) {
    margin: 20px auto;

    .title-thank-you {
      font-size: 20px;
      font-weight: 700;
    }

    p {
      font-size: 18px;
    }
  }

  @media (max-width: 500px) {
    //max-width: 400px;
    margin: 10px auto;
    padding: 10px 15px;

    .title-thank-you {
      font-size: 20px;
      font-weight: 700;
      text-align: center;
    }

    p {
      font-size: 18px;
      text-align: justify;
    }
  }
}
.none-content {
  max-width: 1440px;
  margin: 30px auto;
  padding: 10px;
  display: flex;
  justify-content: center;

  span {
    text-align: center;
    color: $main-text-color;
    font-family: Nunito;
    font-size: 22px;
    font-weight: 600;
  }
}

.block_active_session {
  margin: 22px 30px 0;

  .titte_field {
      margin: 0 0 15px 0;
    p {
      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      color: #494B55;
      margin: 0;
     }
  }
}
.active_session_fields {

  .container-input {
    display: flex;
    align-items: stretch;

    label {
      width: 300px;
    }
    textarea {
      color: #FFFFFF;
      font-family: Nunito;
      font-size: 18px;
      font-weight: 600;
      border-radius: 10px;
      padding: 10px 15px;
      border-bottom: none;
      background-color: #494B55;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 55%;
      margin: 0 0 0 15px;
      line-height: normal;
      max-width: 530px;
      min-height: 44px;
    }
    input {
      width: 52%;
      max-width: 500px;
    }
    select {
      max-width: 530px;
    }
  }
}
.active_session_button {
  width: 840px;
}
.btn-margin-modal {
  margin: 20px 15px 0 0;
}
.template-container-for-view {
  margin: 0 0 10px;

  .text-template-for-view {
    display: flex;
    align-items: stretch;
    max-width: 1200px;

    .type-for-view {

      p {
        color: #FFF;
        font-family: Nunito;
        font-size: 18px;
        font-weight: 700;
        background-color: $hover-color;
        border-radius: 10px;
        width: 450px;
        padding: 10px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: normal;
        margin: 0;
      }
    }

    .type-of-answers {
      display: contents;

      p {
        color: #FFFFFF;
        font-family: Nunito;
        font-size: 18px;
        font-weight: 600;
        border-radius: 10px;
        padding: 10px 15px;
        border-bottom: none;
        background-color: $main-text-color;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        height: auto !important;
        margin: 0 0 0 15px;
        line-height: normal;
        word-wrap: break-word;
        word-break: break-word;
        overflow-wrap: break-word;
        white-space: pre-wrap;
        //max-width: 420px;
        flex-grow: 1;

        &::placeholder {
          color: #C8C8C8;
        }
        &[type="file"] {
          display: none;
        }
      }

    }
  }

}
.block_info_client {
  margin: 0 0 10px;

  .text-template-for-view {
    display: flex;
    align-items: stretch;
    max-width: 1200px;

    .type-for-view {

      p {
        color: #FFF;
        font-family: Nunito;
        font-size: 18px;
        font-weight: 700;
        background-color: $hover-color;
        border-radius: 10px;
        width: 270px;
        padding: 10px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: normal;
        margin: 0;
      }
    }

    .type-of-answers {

      p {
        color: #FFFFFF;
        font-family: Nunito;
        font-size: 18px;
        font-weight: 600;
        border-radius: 10px;
        padding: 10px 15px;
        border-bottom: none;
        background-color: $main-text-color;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        height: auto !important;
        min-width: 350px;
        margin: 0 0 0 15px;
        line-height: normal;
        word-wrap: break-word;
        word-break: break-word;
        overflow-wrap: break-word;
        white-space: pre-wrap;
        //max-width: 420px;

        &::placeholder {
          color: #C8C8C8;
        }
        &[type="file"] {
          display: none;
        }
      }

    }
  }
}
.Block_client {
  margin: 0 0 0 30px;

  .titte_field {
    margin: 17px 0 22px 0;
    p {
      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      color: #494B55;
      margin: 0;
    }
  }

  .name-update-form {

    .forms-name-add {
      .container-input {

        label {
          width: 300px;
        }
        select {
          max-width: 530px;
        }
      }
    }
  }
}
.block_button_client_page {
  display: flex;
  justify-content: flex-end;
  margin: 10px 30px 0;
}
.submit-coupe-partner {
  display: flex;
  justify-content: flex-end;
  width: 840px;

  button {
    width: 260px;
  }
}
.cycle_button_submit {

  button {
    width: 250px;
    padding: 9px 20px;
  }
}

.link-in-page {

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #fff;
  }
}

.data-null-error {

  p {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #494B55;
    margin: 0;
  }
}

 .block_button_client_page {
   position: relative;
 }

.dropdown {
  position: relative;
  display: inline-block;
}

.btn-dropdown {
  display: flex;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  padding: 10px 12px;
  text-align: center;
  text-transform: none;
  color: #FFFFFF;
  background: #DAB189 !important;
  box-shadow: 0px 4px 0px #BA9571 !important;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  height: auto;
  line-height: normal;
  align-items: center;
  justify-content: center;


  &:hover {
    background: #DAB189;
  }

  &:active {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-box-shadow: 0px 2px 0px #BA9571;
    box-shadow: 0px 2px 0px #BA9571 !important;
  }

  img {
    width: 20px;
  }
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #494b55;
  border: 1px solid #dcdcdc;
  border-radius: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px 0;
  margin: 10px 0;

  button {
    all: unset;
    box-sizing: border-box;
    display: block;
    width: 235px;
    padding: 10px 15px;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 0;

    &:hover {
      background-color: #72a8ba;
    }
  }
}

.questions-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: "Nunito", sans-serif;

  th {
    border: 1px solid #ddd;
    width: 33.33%;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    background-color: #72A8BA;
    padding: 15px 5px;
    line-height: normal;
    margin: 0;
    text-align: center;
  }

  td {
    vertical-align: top;
    width: 33.33%;
    color: #494B55;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 5px;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
  }

  tbody {

    tr {
      border-bottom: 2px dashed #72A8BA;
    }
  }
}

.container-view-client-info {
  border-bottom: 2px dashed #72A8BA;
  font-family: "Nunito", sans-serif;

  .date-calendar-block {

    p {
      color: #494B55;
      font-size: 18px;
      font-weight: 600;
      display: flex;
      align-items: center;

      img {
        width: 20px;
        margin: 0 10px 0 0;
      }
    }
  }

  .content-view {

    p {
      color: #494B55;
      font-size: 18px;
      font-weight: 600;
    }
  }
}

.group-button-all-client {
  display: flex;
  gap: 10px;

  .btn-archive {
    display: flex;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    padding: 10px 10px;
    //margin: 0 0 0 10px;
    text-align: center;
    color: #FFFFFF;
    background: #DAB189 !important;
    box-shadow: 0px 4px 0px #BA9571 !important;
    border-radius: 10px;
    border: none;
    transition: 0.3s;
    height: auto;
    line-height: normal;
    align-items: center;
    justify-content: center;


    &:hover {
      background: #DAB189;

    }

    &:active {
      -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
      transform: translateY(5px);
      -webkit-box-shadow: 0px 2px 0px #BA9571;
      box-shadow: 0px 2px 0px #BA9571 !important;
    }

    img {
      width: 22px;
    }
  }

  .btn-statistic {
    display: flex;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    padding: 10px 10px;
    text-align: center;
    color: #FFFFFF;
    background: #DAB189 !important;
    box-shadow: 0px 4px 0px #BA9571 !important;
    border-radius: 10px;
    border: none;
    transition: 0.3s;
    height: auto;
    line-height: normal;
    align-items: center;
    justify-content: center;


    &:hover {
      background: #DAB189;

    }

    &:active {
      -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
      transform: translateY(5px);
      -webkit-box-shadow: 0px 2px 0px #BA9571;
      box-shadow: 0px 2px 0px #BA9571 !important;
    }

    img {
      width: 22px;
    }
  }
}
.title-archive {
  padding: 0 10px 10px;
}
.non-archive-client {
  p {
    font-weight: 700;
    font-size: 18px;
    color: #494B55;
    padding: 15px 15px !important;
    border-radius: 0px;
    text-align: center;
    width: 100%;
  }
}
.block-btn-view-session {
  display: flex;
  align-items: center;

  .btn-editing {
    display: flex;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    padding: 10px 10px;
    margin: 0 0 0 10px;
    text-align: center;
    color: #FFFFFF;
    background: #DAB189 !important;
    box-shadow: 0px 4px 0px #BA9571 !important;
    border-radius: 10px;
    border: none;
    transition: 0.3s;
    height: auto;
    line-height: normal;
    align-items: center;
    justify-content: center;


    &:hover {
      background: #DAB189;

    }

    &:active {
      -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
      transform: translateY(5px);
      -webkit-box-shadow: 0px 2px 0px #BA9571;
      box-shadow: 0px 2px 0px #BA9571 !important;
    }

    img {
      width: 22px;
    }
  }
}
.container-all-session-client {
  display: flex;
  flex-wrap: wrap;

  .block_one_consultation {
    background-color: $search-color;
    border-radius: 12px;
    padding: 13px 17px;
    min-width: 400px;
    margin: 10px 10px 0 0;

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;

      div {
        display: flex;
        align-items: center;

        p {
          font-weight: 600;
          font-size: 18px;
          color: #FFFFFF;
          margin: 0;

          span:nth-child(2) {
            padding: 0 0 0 10px;
          }
        }
        .date-consultation-client {
          //font-size: 15px;
        }

        img {
          width: 20px;
          height: 20px;
          margin: 0 0 0 10px;
        }
      }
    }
  }
}

/*
Statistic styles
*/
.statisctic-section {
  margin: 0 30px;
}
.statistic-dropdown-container {
  margin: 20px 0;


  .dropdown-toggle {
      background-color: #72a8ba;
      border: none;
      width: 100%;
      padding: 17px;
      display: flex;
      justify-content: space-between;
      border-radius: 16px;
      align-items: center;

    .dropdown-text {
      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      color: #fff;
    }

    .dropdown-icon {
      width: 20px;
    }
  }

  ul {
    margin: 0;

    li{
      display: flex;
      align-items: flex-start;
      gap: 10px;
      margin: 20px 0 20px 0;
      color: #494B55;
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;

      img {
        width: 20px;
      }
      p {
        margin: 0;
        color: #494B55;
        font-size: 20px;
        font-weight: 600;
        line-height: 22px;
      }
    }
  }
}

/* Анімація для плавного відкриття/закриття */
.slide-fade-enter-active, .slide-fade-leave-active {
  transition: all 0.3s ease;
}

.slide-fade-enter-from, .slide-fade-leave-to {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.slide-fade-enter-to, .slide-fade-leave-from {
  height: auto;
  opacity: 1;
}
/* Анімація обертання іконки */
.dropdown-icon {
  transition: transform 0.3s ease;
}

.dropdown-icon.rotated {
  transform: rotate(45deg);
}

.graphs {
  p {
    color: #494B55;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
  }
}
.bar-graphs {
  h5 {
    color: #494B55;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
  }
}