@charset "UTF-8";
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Anton";
  src: url("./fonts/Anton/Anton-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
  background-color: #FDF8F3;
}

.background_main {
  background-color: #FDF8F3;
}

/*Кастомний Скролбар*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #454650;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #DAB189;
  border-radius: 10px;
  transition: 1s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d19c69;
}

/*Кастомний Скролбар - кінець*/
.background-login {
  background-color: #FDF8F3;
}

.empty-layout {
  display: grid;
  width: 700px;
  height: 100vh;
  margin: 0 auto;
  align-items: center;
}

.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: rgba(114, 168, 186, 0.6705882353);
  transition: box-shadow 0.25s;
  border-radius: 18px;
  backdrop-filter: blur(5px);
}

.card .card-content {
  color: #fff;
  padding: 24px 24px 0;
  border-radius: 0 0 2px 2px;
}

.card .card-title {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  font-family: "Nunito", sans-serif;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 20px;
}

.card .card-action {
  background-color: transparent;
  border-top: none;
  position: relative;
  padding: 0 24px 24px;
}

.card .card-action:last-child {
  border-radius: 0 0 18px 18px;
}

.butt_login {
  display: flex;
  justify-content: center;
}

.butt_login button {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  padding: 10px 40px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #DAB189 !important;
  box-shadow: 0px 4px 0px #BA9571 !important;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  height: auto;
  line-height: normal;
}

.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
  background-color: #DAB189;
}

.butt_login button:hover {
  background: #DAB189;
}

.butt_login button:active {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-box-shadow: 0px 2px 0px #BA9571;
  box-shadow: 0px 2px 0px #BA9571 !important;
}

.input-field > label {
  color: #fff;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
}

input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default) {
  border-bottom: 1px solid #ffffff;
}

.elipse_login_1 {
  background: url(@/assets/photo/contact-back-1.png) no-repeat top;
  pointer-events: none;
  z-index: 0;
  margin: 0 auto;
  left: 10%;
  top: 5vh;
  position: absolute;
  height: 397px;
  width: 340px;
  background-size: cover;
}

.elipse_login_2 {
  background: url(@/assets/photo/contact-back-2.png) no-repeat top;
  pointer-events: none;
  z-index: 0;
  margin: 0 auto;
  right: 10%;
  top: 49vh;
  position: absolute;
  height: 354px;
  width: 355px;
  background-size: cover;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 1px 0 0 #ffffff;
}

input:not([type]):focus:not([readonly]) + label, input[type=text]:not(.browser-default):focus:not([readonly]) + label, input[type=password]:not(.browser-default):focus:not([readonly]) + label, input[type=email]:not(.browser-default):focus:not([readonly]) + label, input[type=url]:not(.browser-default):focus:not([readonly]) + label, input[type=time]:not(.browser-default):focus:not([readonly]) + label, input[type=date]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label, input[type=tel]:not(.browser-default):focus:not([readonly]) + label, input[type=number]:not(.browser-default):focus:not([readonly]) + label, input[type=search]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #ffffff;
}

.input-field .helper-text {
  position: relative;
  min-height: 18px;
  display: block;
  font-size: 12px;
  color: rgb(244, 67, 54);
}

.background-navbar {
  background: url(@/assets/photo/back-users-1.png) center center;
  background-size: cover;
  height: 155px;
  background-color: #72A8BA;
}

.container-user-photo {
  position: relative;
  border-radius: 100px;
  left: 105px;
  top: 105px;
  width: 90px;
  height: 90px;
}

.user-photo {
  background: #494B55;
  border-radius: 100%;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-photo img {
  width: 70px;
}

.container-user-name {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  color: #494B55;
  font-weight: 700;
}

/*
SideBar styles
*/
.sidebar {
  width: 300px;
}

.title-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #494B55;
  font-size: 27px;
  font-weight: 700;
  margin: 10px 0;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu-item {
  display: flex;
  align-items: center;
}
.menu-item img {
  padding: 0px 7px 0 0;
  width: 30px;
}

.menu-item img {
  transition: filter 0.3s;
}
.menu-item span {
  color: #494B55;
  font-size: 20px;
  font-weight: 700;
  line-height: 47px;
  transition: 0.3s;
}

.menu-icon {
  position: relative;
  top: -6px;
  padding: 0px 7px 0 0;
  width: 37px;
}

nav {
  background-color: transparent;
  box-shadow: none;
  height: 100%;
}
nav ul li {
  transition: background-color 0.3s;
  font-size: 1rem;
  color: #fff;
  display: block;
  padding: 0 25px;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  width: 100%;
}
nav ul li:hover {
  background-color: rgb(56, 94, 108);
}
nav ul li:hover span {
  color: #fff;
}
nav ul li:hover img {
  filter: brightness(0) invert(1);
}
nav ul li.active {
  background-color: #72A8BA !important;
}
nav ul li.active span {
  color: #fff;
}
nav ul li.active img {
  filter: brightness(0) invert(1);
}

.title-notification {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #494B55;
  font-size: 27px;
  font-weight: 700;
  margin: 30px 0 20px 0;
}
.title-notification img {
  top: 0;
}

.button-add-notf {
  margin: 0 20px 20px 20px;
}
.button-add-notf button {
  display: flex;
  width: 100%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  padding: 8px 20px;
  text-align: center;
  text-transform: lowercase;
  color: #FFFFFF;
  background: #DAB189 !important;
  box-shadow: 0px 4px 0px #BA9571 !important;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  height: auto;
  line-height: normal;
  align-items: center;
  justify-content: center;
}
.button-add-notf button:hover {
  background: #DAB189;
}
.button-add-notf button:active {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-box-shadow: 0px 2px 0px #BA9571;
  box-shadow: 0px 2px 0px #BA9571 !important;
}
.button-add-notf button img {
  padding: 0 7px 0 0;
}

.block-notification {
  margin: 0 20px 20px;
}

.notification-text img {
  padding: 0 7px 0 0;
  position: relative;
  top: 3px;
}
.notification-text span {
  color: #494B55;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  text-align: justify;
}

.clock-block {
  margin: 0 0 30px;
}

.flip-clock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-number {
  font-family: "Anton";
  background: #72A8BA;
  margin: 0px 3px;
  padding: 18px 22px;
  border-radius: 8px;
  width: 124px;
  height: 156px;
  text-align: center;
}
.flip-number .time {
  font-family: "Anton";
  color: #FFFFFF;
  font-size: 85px;
  letter-spacing: 6px;
  text-indent: 4px;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -4px;
  position: relative;
}
.flip-number .day-clock {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #FFFFFF;
  position: relative;
  top: -22px;
  left: 14px;
}

.line-clock {
  height: 3px;
  background: #fff;
  border: 1px #fff solid;
  width: 254px;
  position: absolute;
}

/*
Main styles
*/
.site-content {
  flex-grow: 1;
}

.main-section {
  margin: 85px 0px 20px;
  display: flex;
}

.calendar-width {
  width: 95%;
  margin: 0 30px;
}

/*
Client styles
*/
.client-section {
  margin: 0 30px;
}

.client-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-add-client {
  display: flex;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  padding: 8px 20px;
  text-align: center;
  text-transform: none;
  color: #FFFFFF;
  background: #DAB189 !important;
  box-shadow: 0px 4px 0px #BA9571 !important;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  height: auto;
  line-height: normal;
  align-items: center;
  justify-content: center;
}
.btn-add-client:hover {
  background: #DAB189;
}
.btn-add-client:active {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-box-shadow: 0px 2px 0px #BA9571;
  box-shadow: 0px 2px 0px #BA9571 !important;
}

.btn-refresh {
  display: flex;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  padding: 10px 10px;
  text-align: center;
  color: #FFFFFF;
  background: #DAB189 !important;
  box-shadow: 0px 4px 0px #BA9571 !important;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  height: auto;
  line-height: normal;
  align-items: center;
  justify-content: center;
}
.btn-refresh:hover {
  background: #DAB189;
}
.btn-refresh:active {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-box-shadow: 0px 2px 0px #BA9571;
  box-shadow: 0px 2px 0px #BA9571 !important;
}
.btn-refresh img {
  width: 22px;
  transition: transform 0.3s;
}
.btn-refresh img:active {
  transform: rotate(360deg);
}

.search {
  margin: 20px 0;
}
.search input {
  width: 100% !important;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 17px !important;
  padding: 0px 15px !important;
  border-radius: 10px !important;
  border: 3px solid rgb(73, 75, 85) !important;
  background-color: rgb(73, 75, 85) !important;
  margin: 0 !important;
  box-sizing: border-box !important;
  color: #FFFFFF !important;
}

.margin-search {
  margin: 0 0 20px 0;
}

.client-list {
  border-radius: 10px;
  border: 3px solid #494B55;
  background: transparent;
  padding: 0 0 15px 0;
  min-height: 500px;
}

.table td, .table th {
  padding: 15px 15px !important;
  border-radius: 0px;
}

.table {
  border-collapse: initial;
}
.table thead {
  font-weight: 700;
  font-size: 18px;
}
.table tbody {
  font-weight: 600;
  font-size: 17px;
}
.table tbody tr {
  border-bottom: 3px solid #494B55;
  background: #72A8BA;
  color: #FFFFFF;
}

.btn-action {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.btn-action img {
  width: 20px;
}

.all-butt-management {
  display: flex;
  justify-content: flex-start;
}
.all-butt-management button {
  margin: 0 5px 0 0;
}

.client-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.client-footer .pagination-info {
  color: #494B55;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
}
.client-footer .pagination-controls {
  display: flex;
  align-items: center;
}
.client-footer .pagination-controls .btn-pagination {
  margin: 0px 2px 0 0;
  display: flex;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  padding: 10px 10px;
  text-align: center;
  color: #FFFFFF;
  background: #DAB189 !important;
  box-shadow: 0px 4px 0px #BA9571 !important;
  border: none;
  transition: 0.3s;
  height: auto;
  line-height: normal;
  align-items: center;
  justify-content: center;
}
.client-footer .pagination-controls .btn-pagination:hover {
  background: #DAB189;
}
.client-footer .pagination-controls .btn-pagination:active {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-box-shadow: 0px 2px 0px #BA9571;
  box-shadow: 0px 2px 0px #BA9571 !important;
}
.client-footer .pagination-controls .before {
  border-radius: 10px 0 0 10px;
}
.client-footer .pagination-controls .after {
  border-radius: 0px 10px 10px 0px;
}

/*# sourceMappingURL=style.css.map */
