@charset "UTF-8";
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Anton";
  src: url("./fonts/Anton/Anton-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
  background-color: #FDF8F3;
}

.background_main {
  background-color: #FDF8F3;
}

/*Кастомний Скролбар*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #454650;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #DAB189;
  border-radius: 10px;
  transition: 1s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d19c69;
}

/*Кастомний Скролбар - кінець*/
.toast {
  font-family: "Nunito", sans-serif;
  border-radius: 10px;
  top: 35px;
  width: auto;
  margin-top: 10px;
  position: relative;
  max-width: 100%;
  height: auto;
  min-height: 48px;
  line-height: 1.5em;
  background-color: rgb(73, 75, 85);
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 300;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
}

.background-login {
  background-color: #FDF8F3;
}

.empty-layout {
  display: grid;
  width: 700px;
  height: 100vh;
  margin: 0 auto;
  align-items: center;
}

.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: rgba(114, 168, 186, 0.6705882353);
  transition: box-shadow 0.25s;
  border-radius: 18px;
  backdrop-filter: blur(5px);
}

.card .card-content {
  color: #fff;
  padding: 24px 24px 0;
  border-radius: 0 0 2px 2px;
}

.card .card-title {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  font-family: "Nunito", sans-serif;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 20px;
}

.card .card-action {
  background-color: transparent;
  border-top: none;
  position: relative;
  padding: 0 24px 24px;
}

.card .card-action:last-child {
  border-radius: 0 0 18px 18px;
}

.butt_login {
  display: flex;
  justify-content: center;
}

.butt_login button {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  padding: 10px 40px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #DAB189 !important;
  box-shadow: 0px 4px 0px #BA9571 !important;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  height: auto;
  line-height: normal;
}

.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
  background-color: #DAB189;
}

.butt_login button:hover {
  background: #DAB189;
}

.butt_login button:active {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-box-shadow: 0px 2px 0px #BA9571;
  box-shadow: 0px 2px 0px #BA9571 !important;
}

.input-field > label {
  color: #fff;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
}

input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default) {
  border-bottom: 1px solid #ffffff;
}

.elipse_login_1 {
  background: url(@/assets/photo/contact-back-1.png) no-repeat top;
  pointer-events: none;
  z-index: 0;
  margin: 0 auto;
  left: 10%;
  top: 5vh;
  position: absolute;
  height: 397px;
  width: 340px;
  background-size: cover;
}

.elipse_login_2 {
  background: url(@/assets/photo/contact-back-2.png) no-repeat top;
  pointer-events: none;
  z-index: 0;
  margin: 0 auto;
  right: 10%;
  top: 49vh;
  position: absolute;
  height: 354px;
  width: 355px;
  background-size: cover;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 1px 0 0 #ffffff;
}

input:not([type]):focus:not([readonly]) + label, input[type=text]:not(.browser-default):focus:not([readonly]) + label, input[type=password]:not(.browser-default):focus:not([readonly]) + label, input[type=email]:not(.browser-default):focus:not([readonly]) + label, input[type=url]:not(.browser-default):focus:not([readonly]) + label, input[type=time]:not(.browser-default):focus:not([readonly]) + label, input[type=date]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label, input[type=tel]:not(.browser-default):focus:not([readonly]) + label, input[type=number]:not(.browser-default):focus:not([readonly]) + label, input[type=search]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #ffffff;
}

.input-field .helper-text {
  position: relative;
  min-height: 18px;
  display: block;
  font-size: 12px;
  color: rgb(244, 67, 54);
}

.background-navbar {
  background-position: center;
  background-size: cover;
  height: 155px;
  background-color: #72A8BA;
}

.container-user-photo {
  position: relative;
  border-radius: 100px;
  left: 105px;
  top: 105px;
  width: 90px;
  height: 90px;
}

.user-photo {
  background: #494B55;
  border-radius: 100%;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.user-photo img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  object-fit: cover;
}

.container-user-name {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  color: #494B55;
  font-weight: 700;
}

/*
SideBar styles
*/
.sidebar {
  width: 300px;
}

.title-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #494B55;
  font-size: 27px;
  font-weight: 700;
  margin: 10px 0;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu-item {
  display: flex;
  align-items: center;
}
.menu-item img {
  padding: 0px 7px 0 0;
  width: 30px;
}

.menu-item img {
  transition: filter 0.3s;
}
.menu-item span {
  color: #494B55;
  font-size: 20px;
  font-weight: 700;
  line-height: 47px;
  transition: 0.3s;
}

.menu-icon {
  position: relative;
  top: -6px;
  padding: 0px 7px 0 0;
  width: 37px;
}

nav {
  background-color: transparent;
  box-shadow: none;
  height: 100%;
}
nav ul li {
  transition: background-color 0.3s;
  font-size: 1rem;
  color: #fff;
  display: block;
  padding: 0 25px;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  width: 100%;
}
nav ul li:hover {
  background-color: rgb(56, 94, 108);
}
nav ul li:hover span {
  color: #fff;
}
nav ul li:hover img {
  filter: brightness(0) invert(1);
}
nav ul li.active {
  background-color: #72A8BA !important;
}
nav ul li.active span {
  color: #fff;
}
nav ul li.active img {
  filter: brightness(0) invert(1);
}

.title-notification {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #494B55;
  font-size: 27px;
  font-weight: 700;
  margin: 30px 0 20px 0;
}
.title-notification img {
  top: 0;
}

.button-add-notf {
  margin: 0 20px 20px 20px;
}
.button-add-notf button {
  display: flex;
  width: 100%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  padding: 8px 20px;
  text-align: center;
  text-transform: lowercase;
  color: #FFFFFF;
  background: #DAB189 !important;
  box-shadow: 0px 4px 0px #BA9571 !important;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  height: auto;
  line-height: normal;
  align-items: center;
  justify-content: center;
}
.button-add-notf button:hover {
  background: #DAB189;
}
.button-add-notf button:active {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-box-shadow: 0px 2px 0px #BA9571;
  box-shadow: 0px 2px 0px #BA9571 !important;
}
.button-add-notf button img {
  padding: 0 7px 0 0;
}

.block-notification {
  margin: 0 20px 20px;
}

.notification-text img {
  padding: 0 7px 0 0;
  position: relative;
  top: 3px;
}
.notification-text span {
  color: #494B55;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  text-align: justify;
}

.clock-block {
  margin: 0 0 30px;
}

.flip-clock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-number {
  font-family: "Anton";
  background: #72A8BA;
  margin: 0px 3px;
  padding: 18px 22px;
  border-radius: 8px;
  width: 124px;
  height: 156px;
  text-align: center;
}
.flip-number .time {
  font-family: "Anton";
  color: #FFFFFF;
  font-size: 85px;
  letter-spacing: 6px;
  text-indent: 4px;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -4px;
  position: relative;
}
.flip-number .day-clock {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #FFFFFF;
  position: relative;
  top: -22px;
  left: 14px;
}

.line-clock {
  height: 3px;
  background: #fff;
  border: 1px #fff solid;
  width: 254px;
  position: absolute;
}

/*
Main styles
*/
.site-content {
  flex-grow: 1;
}

.main-section {
  margin: 85px 0px 20px;
  display: flex;
}

.calendar-width {
  width: 95%;
  margin: 0 30px;
}

.fc-toolbar-title {
  font-weight: 700;
  color: #494B55;
}

.fc-scrollgrid-sync-inner a {
  color: #494B55;
  font-weight: 700;
}

.fc-h-event {
  background-color: #72A8BA;
  border: 1px solid #72A8BA;
  display: block;
}

.fc-daygrid-event-dot {
  border: calc(var(--fc-daygrid-event-dot-width) / 2) solid #72A8BA;
  border-radius: calc(var(--fc-daygrid-event-dot-width) / 2);
}

.fc-theme-standard .fc-scrollgrid {
  border-radius: 10px;
  border: 2px solid #494B55;
}

.fc-theme-standard td, .fc-theme-standard th {
  border: 2px solid #494B55;
}

.fc .fc-scrollgrid-section > * {
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}

.fc-button {
  display: flex;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  padding: 10px 10px;
  text-align: center;
  color: #FFFFFF;
  background: #DAB189 !important;
  box-shadow: 0px 4px 0px #BA9571 !important;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  height: auto;
  line-height: normal;
  align-items: center;
  justify-content: center;
}
.fc-button:hover {
  background: #DAB189;
}
.fc-button:active {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-box-shadow: 0px 2px 0px #BA9571;
  box-shadow: 0px 2px 0px #BA9571 !important;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  margin-left: 1px;
}

.fc .fc-button-primary {
  border-color: transparent !important;
  color: #fff;
  font-weight: 700;
}

.fc-v-event {
  background-color: #72A8BA;
  border: 1px solid #72A8BA;
  display: block;
  font-weight: 600;
}

.fc .fc-cell-shaded, .fc .fc-day-disabled {
  background: #494B55;
}

/*
Client styles
*/
.client-section {
  margin: 0 30px;
}

.client-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px;
}

.btn-add-client {
  display: flex;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  padding: 8px 20px;
  text-align: center;
  text-transform: none;
  color: #FFFFFF;
  background: #DAB189 !important;
  box-shadow: 0px 4px 0px #BA9571 !important;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  height: auto;
  line-height: normal;
  align-items: center;
  justify-content: center;
}
.btn-add-client:hover {
  background: #DAB189;
}
.btn-add-client:active {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-box-shadow: 0px 2px 0px #BA9571;
  box-shadow: 0px 2px 0px #BA9571 !important;
}

.btn-refresh {
  display: flex;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  padding: 10px 10px;
  text-align: center;
  color: #FFFFFF;
  background: #DAB189 !important;
  box-shadow: 0px 4px 0px #BA9571 !important;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  height: auto;
  line-height: normal;
  align-items: center;
  justify-content: center;
}
.btn-refresh:hover {
  background: #DAB189;
}
.btn-refresh:active {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-box-shadow: 0px 2px 0px #BA9571;
  box-shadow: 0px 2px 0px #BA9571 !important;
}
.btn-refresh img {
  width: 22px;
  transition: transform 0.3s;
}
.btn-refresh img:active {
  transform: rotate(360deg);
}

.search {
  margin: 20px 0;
}
.search input {
  width: 100% !important;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 17px !important;
  padding: 0px 15px !important;
  border-radius: 10px !important;
  border: 3px solid rgb(73, 75, 85) !important;
  background-color: rgb(73, 75, 85) !important;
  margin: 0 !important;
  box-sizing: border-box !important;
  color: #FFFFFF !important;
}

.margin-search {
  margin: 0 0 20px 0;
}

.client-list {
  border-radius: 10px;
  border: 3px solid #494B55;
  background: transparent;
  padding: 0 0 15px 0;
  min-height: 500px;
}

.table td, .table th {
  padding: 15px 15px !important;
  border-radius: 0px;
}

.table {
  border-collapse: separate;
  border-spacing: 0px 5px;
}
.table thead {
  font-weight: 700;
  font-size: 18px;
}
.table tbody {
  font-weight: 600;
  font-size: 17px;
}
.table tbody tr {
  border-bottom: 3px solid #494B55;
  background: #72A8BA;
  color: #FFFFFF;
}
.table tbody tr:nth-child(even) {
  background: rgb(56, 94, 108);
}

.btn-action {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.btn-action img {
  width: 20px;
}

.all-butt-management {
  display: flex;
  justify-content: flex-end;
}
.all-butt-management button {
  margin: 0 5px 0 0;
}

.client-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.client-footer .pagination-info {
  color: #494B55;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
}
.client-footer .pagination-controls {
  display: flex;
  align-items: center;
}
.client-footer .pagination-controls .btn-pagination {
  margin: 0px 2px 0 0;
  display: flex;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  padding: 10px 10px;
  text-align: center;
  color: #FFFFFF;
  background: #DAB189 !important;
  box-shadow: 0px 4px 0px #BA9571 !important;
  border: none;
  transition: 0.3s;
  height: auto;
  line-height: normal;
  align-items: center;
  justify-content: center;
}
.client-footer .pagination-controls .btn-pagination:hover {
  background: #DAB189;
}
.client-footer .pagination-controls .btn-pagination:active {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-box-shadow: 0px 2px 0px #BA9571;
  box-shadow: 0px 2px 0px #BA9571 !important;
}
.client-footer .pagination-controls .before {
  border-radius: 10px 0 0 10px;
}
.client-footer .pagination-controls .after {
  border-radius: 0px 10px 10px 0px;
}

/*
Profile styles
*/
.profile-section {
  margin: 0 0 0 30px;
}

.profile_tittle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 10px;
}
.profile_tittle p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: #494B55;
  margin: 0;
}
.profile_tittle button {
  display: flex;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  padding: 8px 20px;
  text-align: center;
  text-transform: none;
  color: #FFFFFF;
  background: #DAB189 !important;
  box-shadow: 0px 4px 0px #BA9571 !important;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  height: auto;
  line-height: normal;
  align-items: center;
  justify-content: center;
}
.profile_tittle button:hover {
  background: #DAB189;
}
.profile_tittle button:active {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-box-shadow: 0px 2px 0px #BA9571;
  box-shadow: 0px 2px 0px #BA9571 !important;
}

.hr_profile {
  border-radius: 10px 0 0 10px;
  border: 0px solid #494B55;
  background: #494B55;
  height: 3px;
}

.profile_block {
  margin: 0 30px;
}

.update_profile_tittle {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: #494B55;
  margin: 0;
}

.input-field-text, .file-upload-field, .select-field, .date-field, .checkbox-field, .forms-name-add {
  margin: 0 0 10px;
}
.input-field-text .container-input, .file-upload-field .container-input, .select-field .container-input, .date-field .container-input, .checkbox-field .container-input, .forms-name-add .container-input {
  display: flex;
  align-items: center;
}
.input-field-text .container-input label, .file-upload-field .container-input label, .select-field .container-input label, .date-field .container-input label, .checkbox-field .container-input label, .forms-name-add .container-input label {
  color: #FFF;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
  background-color: #72A8BA;
  border-radius: 10px;
  width: 250px;
  padding: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: normal;
}
.input-field-text .container-input input, .file-upload-field .container-input input, .select-field .container-input input, .date-field .container-input input, .checkbox-field .container-input input, .forms-name-add .container-input input {
  color: #FFFFFF;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px 15px;
  border-bottom: none;
  background-color: #494B55;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 55%;
  height: auto !important;
  margin: 0 0 0 15px;
  line-height: normal;
  max-width: 420px;
}
.input-field-text .container-input input::placeholder, .file-upload-field .container-input input::placeholder, .select-field .container-input input::placeholder, .date-field .container-input input::placeholder, .checkbox-field .container-input input::placeholder, .forms-name-add .container-input input::placeholder {
  color: #C8C8C8;
}
.input-field-text .container-input input[type=file], .file-upload-field .container-input input[type=file], .select-field .container-input input[type=file], .date-field .container-input input[type=file], .checkbox-field .container-input input[type=file], .forms-name-add .container-input input[type=file] {
  display: none;
}
.input-field-text .container-input .file-chosen, .file-upload-field .container-input .file-chosen, .select-field .container-input .file-chosen, .date-field .container-input .file-chosen, .checkbox-field .container-input .file-chosen, .forms-name-add .container-input .file-chosen {
  color: #FFFFFF;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px 15px;
  border-bottom: none;
  background-color: #494B55;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 55%;
  height: auto !important;
  margin: 0 0 0 15px;
  line-height: normal;
  max-width: 450px;
  cursor: pointer;
}
.input-field-text .container-input select, .file-upload-field .container-input select, .select-field .container-input select, .date-field .container-input select, .checkbox-field .container-input select, .forms-name-add .container-input select {
  color: #FFFFFF;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px 15px;
  border-bottom: none;
  background-color: #494B55;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 55%;
  height: auto !important;
  margin: 0 0 0 15px;
  line-height: normal;
  max-width: 450px;
}
.input-field-text .container-input .checkbox-group, .file-upload-field .container-input .checkbox-group, .select-field .container-input .checkbox-group, .date-field .container-input .checkbox-group, .checkbox-field .container-input .checkbox-group, .forms-name-add .container-input .checkbox-group {
  display: flex;
  justify-content: space-between;
  width: 465px;
  margin: 0 0 0 10px;
}
.input-field-text .container-input .checkbox-group label, .file-upload-field .container-input .checkbox-group label, .select-field .container-input .checkbox-group label, .date-field .container-input .checkbox-group label, .checkbox-field .container-input .checkbox-group label, .forms-name-add .container-input .checkbox-group label {
  color: #494B55;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  background-color: transparent;
  border-radius: initial;
  width: auto;
  padding: 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-field-text .container-input .checkbox-group label input, .file-upload-field .container-input .checkbox-group label input, .select-field .container-input .checkbox-group label input, .date-field .container-input .checkbox-group label input, .checkbox-field .container-input .checkbox-group label input, .forms-name-add .container-input .checkbox-group label input {
  display: none;
}
.input-field-text .container-input .checkbox-group label span, .file-upload-field .container-input .checkbox-group label span, .select-field .container-input .checkbox-group label span, .date-field .container-input .checkbox-group label span, .checkbox-field .container-input .checkbox-group label span, .forms-name-add .container-input .checkbox-group label span {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: #494B55;
  border-radius: 10px;
  margin-right: 10px;
}
.input-field-text .container-input .checkbox-group label span .svg-checkmark .checkmark-path, .file-upload-field .container-input .checkbox-group label span .svg-checkmark .checkmark-path, .select-field .container-input .checkbox-group label span .svg-checkmark .checkmark-path, .date-field .container-input .checkbox-group label span .svg-checkmark .checkmark-path, .checkbox-field .container-input .checkbox-group label span .svg-checkmark .checkmark-path, .forms-name-add .container-input .checkbox-group label span .svg-checkmark .checkmark-path {
  stroke-dasharray: 32.9983329773;
  stroke-dashoffset: 32.9983329773; /* Шлях спочатку не видно */
  transition: stroke-dashoffset 0.3s ease-in-out; /* Плавний перехід для анімації */
}
.input-field-text .container-input .checkbox-group label p, .file-upload-field .container-input .checkbox-group label p, .select-field .container-input .checkbox-group label p, .date-field .container-input .checkbox-group label p, .checkbox-field .container-input .checkbox-group label p, .forms-name-add .container-input .checkbox-group label p {
  cursor: pointer;
  margin: 0;
}

.custom-checkbox input[type=checkbox]:checked + .checkmark .svg-checkmark .checkmark-path {
  stroke-dashoffset: 0;
}

[type=checkbox] + span:not(.lever):before, [type=checkbox]:not(.filled-in) + span:not(.lever):after {
  content: none;
}

[type=checkbox] + span:not(.lever) {
  padding-left: 0px !important;
  cursor: inherit;
}

.container-global-form-edit {
  margin: 15px 5px 10px;
  display: flex;
  justify-content: flex-end;
  width: 710px;
}
.container-global-form-edit button {
  cursor: pointer;
  display: flex;
  width: 220px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  padding: 8px 20px;
  text-align: center;
  color: #FFFFFF;
  background: #DAB189;
  box-shadow: 0px 4px 0px #BA9571;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  height: auto;
  line-height: normal;
  align-items: center;
  justify-content: center;
}
.container-global-form-edit button:hover {
  background: #DAB189;
}
.container-global-form-edit button:active {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-box-shadow: 0px 2px 0px #BA9571;
  box-shadow: 0px 2px 0px #BA9571 !important;
}
.container-global-form-edit button img {
  padding: 0 7px 0 0;
  width: 30px;
}

.button-disabled {
  background-color: #ccc !important;
  cursor: not-allowed !important;
  box-shadow: 0px 4px 0px #bbbbbb !important;
}

/* Звичайний стиль кнопки, коли чекбокс активний */
.global-form-edit:not(.button-disabled) {
  background-color: #DAB189;
  box-shadow: 0px 4px 0px #BA9571;
  cursor: pointer;
}

.validate-error {
  color: #df4545;
  font-weight: 700;
}

.change-password {
  position: relative;
  right: 35px;
  top: 0px;
  color: #fff;
}

/* Bank Information Forms */
.form-bank-info-container {
  margin: 22px 30px 0;
}

.undertittle-on-bank-ifro {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: #494B55;
  margin: 0;
}

.bank-button-forms {
  display: flex;
}

.no-template-message p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #494B55;
  margin: 30px 0;
  text-align: center;
}

.create-template {
  display: flex;
  justify-content: flex-start;
}

.btn-action {
  position: relative;
}
.btn-action[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 1000;
  /* Додайте наступні властивості для покращення візуального вигляду */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}
.btn-action[data-tooltip]:hover::after {
  opacity: 1;
  visibility: visible;
}

button:focus {
  outline: none;
  background-color: transparent;
}

.modal-btn {
  display: flex;
  justify-content: flex-end;
}

.btn-send-templates {
  display: flex;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  padding: 8px 20px;
  text-align: center;
  text-transform: none;
  color: #FFFFFF;
  background: #DAB189 !important;
  box-shadow: 0px 4px 0px #BA9571 !important;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  height: auto;
  line-height: normal;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0;
}
.btn-send-templates:hover {
  background: #DAB189;
}
.btn-send-templates:active {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-box-shadow: 0px 2px 0px #BA9571;
  box-shadow: 0px 2px 0px #BA9571 !important;
}

.container-for-label-and-input {
  margin: 10px;
}

.container-input_froms_user {
  display: flex;
  justify-content: center;
}
.container-input_froms_user label {
  color: #FFF;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
  background-color: #72A8BA;
  border-radius: 10px;
  width: 500px;
  padding: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: normal;
}
.container-input_froms_user input {
  color: #FFFFFF;
  font-family: Nunito;
  font-size: 18px !important;
  font-weight: 600;
  border-radius: 10px !important;
  padding: 10px 15px !important;
  border-bottom: none !important;
  background-color: #494B55 !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: auto !important;
  margin: 0 0 0 15px !important;
  line-height: normal;
  max-width: 650px;
}
.container-input_froms_user input::placeholder {
  color: #C8C8C8;
}
.container-input_froms_user input[type=file] {
  display: none;
}
.container-input_froms_user .file-chosen {
  color: #FFFFFF;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px 15px;
  border-bottom: none;
  background-color: #494B55;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 55%;
  height: auto !important;
  margin: 0 0 0 15px;
  line-height: normal;
  max-width: 450px;
  cursor: pointer;
}
.container-input_froms_user select {
  color: #FFFFFF;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px 15px;
  border-bottom: none;
  background-color: #494B55;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 55%;
  height: auto !important;
  margin: 0 0 0 15px;
  line-height: normal;
  max-width: 450px;
}
.container-input_froms_user .checkbox-group {
  display: flex;
  justify-content: space-between;
  width: 465px;
  margin: 0 0 0 10px;
}
.container-input_froms_user .checkbox-group label {
  color: #494B55;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  background-color: transparent;
  border-radius: initial;
  width: auto;
  padding: 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-input_froms_user .checkbox-group label input {
  display: none;
}
.container-input_froms_user .checkbox-group label span {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: #494B55;
  border-radius: 10px;
  margin-right: 10px;
}
.container-input_froms_user .checkbox-group label span .svg-checkmark .checkmark-path {
  stroke-dasharray: 32.9983329773;
  stroke-dashoffset: 32.9983329773; /* Шлях спочатку не видно */
  transition: stroke-dashoffset 0.3s ease-in-out; /* Плавний перехід для анімації */
}
.container-input_froms_user .checkbox-group label p {
  cursor: pointer;
  margin: 0;
}
@media (max-width: 800px) {
  .container-input_froms_user {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
  }
  .container-input_froms_user label {
    width: auto;
    margin: 0 10px 10px;
    padding: 10px 10px;
  }
  .container-input_froms_user input {
    margin: 0 10px !important;
    width: auto !important;
    max-width: 100% !important;
  }
}
@media (max-width: 500px) {
  .container-input_froms_user label {
    margin: 0 0 10px;
    padding: 10px 10px;
  }
  .container-input_froms_user input {
    margin: 0 !important;
  }
}

.title_form_from_user p {
  font-family: "Nunito";
  font-size: 25px !important;
  font-weight: 600;
  text-align: center;
  color: #494B55;
}
@media (max-width: 800px) {
  .title_form_from_user p {
    font-size: 23px !important;
  }
}
@media (max-width: 500px) {
  .title_form_from_user p {
    font-size: 20px !important;
  }
}

.width-input-1200 {
  width: 1200px !important;
}

.center_group {
  justify-content: center;
}

.width-container_for_butt {
  width: 1200px;
  margin: 15px auto;
}
@media (max-width: 1230px) {
  .width-container_for_butt {
    width: 220px;
  }
}

.container-text-for-form {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px 10px;
}
.container-text-for-form .title_n_text {
  color: #494B55;
  font-family: Nunito;
  font-size: 18px !important;
  font-weight: 600;
}
.container-text-for-form .title_n_text b {
  display: flex;
  justify-content: center;
}
.container-text-for-form .title_n_text p {
  text-align: justify;
}
.container-text-for-form .content_user_form {
  color: #494B55;
  font-family: Nunito;
  font-size: 18px !important;
  font-weight: 600;
}
.container-text-for-form .content_user_form span {
  font-weight: 800;
}
.container-text-for-form .content_user_form p {
  text-align: justify;
}
.container-text-for-form .content_user_form p b {
  font-weight: 800;
}
.container-text-for-form .content_user_form ul {
  margin: 0 0 20px 20px;
}
.container-text-for-form .content_user_form ul li {
  list-style-type: disc;
}
.container-text-for-form .content_user_form table tr {
  border-bottom: 2px solid rgb(73, 75, 85);
}
@media (max-width: 800px) {
  .container-text-for-form .content_user_form {
    color: #494B55;
    font-family: Nunito;
    font-size: 18px !important;
    font-weight: 600;
  }
  .container-text-for-form .content_user_form span {
    font-weight: 700;
  }
  .container-text-for-form .content_user_form p {
    text-align: justify;
  }
  .container-text-for-form .content_user_form p b {
    font-weight: 700;
  }
}

.header_forms_for_users {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #72A8BA;
  padding: 30px;
}
.header_forms_for_users img {
  width: 300px;
}
@media (max-width: 500px) {
  .header_forms_for_users {
    padding: 25px;
  }
  .header_forms_for_users img {
    width: 220px;
  }
}

.thank-you-text {
  max-width: 1440px;
  margin: 30px auto;
  padding: 10px;
}
.thank-you-text p {
  text-align: center;
  color: #494B55;
  font-family: Nunito;
  font-size: 20px;
  font-weight: 600;
}
.thank-you-text .title-thank-you {
  font-size: 25px;
  font-weight: 700;
}
@media (max-width: 800px) {
  .thank-you-text {
    margin: 20px auto;
  }
  .thank-you-text .title-thank-you {
    font-size: 20px;
    font-weight: 700;
  }
  .thank-you-text p {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .thank-you-text {
    margin: 10px auto;
    padding: 10px 15px;
  }
  .thank-you-text .title-thank-you {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }
  .thank-you-text p {
    font-size: 18px;
    text-align: justify;
  }
}

.none-content {
  max-width: 1440px;
  margin: 30px auto;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.none-content span {
  text-align: center;
  color: #494B55;
  font-family: Nunito;
  font-size: 22px;
  font-weight: 600;
}

.block_active_session {
  margin: 22px 30px 0;
}
.block_active_session .titte_field {
  margin: 0 0 15px 0;
}
.block_active_session .titte_field p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: #494B55;
  margin: 0;
}

.active_session_fields .container-input {
  display: flex;
  align-items: stretch;
}
.active_session_fields .container-input label {
  width: 300px;
}
.active_session_fields .container-input textarea {
  color: #FFFFFF;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px 15px;
  border-bottom: none;
  background-color: #494B55;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 55%;
  margin: 0 0 0 15px;
  line-height: normal;
  max-width: 530px;
  min-height: 44px;
}
.active_session_fields .container-input input {
  width: 52%;
  max-width: 500px;
}
.active_session_fields .container-input select {
  max-width: 530px;
}

.active_session_button {
  width: 840px;
}

.btn-margin-modal {
  margin: 20px 15px 0 0;
}

/*# sourceMappingURL=style.css.map */
